{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
<article class="page single">
  <div class="single-card">
    <h2 class="single-title animated fadeInDown faster">
      {{- .Params.Title -}}
    </h2>
    <div class="post-meta uk-margin-bottom">
      <div class="date">
        <span class="posted-on uk-margin-right">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
            {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
          </time>
        </span>
        <span><i class="far fa-clock fa-fw"></i>&nbsp;{{ T "readingTime" .ReadingTime }}</span>&nbsp;
      </div>
    </div>
    {{ if isset .Params "coders" }}
    <div class="uk-child-width-auto" uk-grid>
      {{ if ( gt (len .Params.coders ) 0) }}
      <div>
        <button class="uk-button uk-button-default" type="button">
          <span uk-icon="icon: users"></span>
          Team Project
        </button>
        <div class="uk-width-auto" uk-dropdown="pos: bottom-center; delay-hide:400">
          <div class="uk-dropdown-grid uk-child-width-1-2" uk-grid>
            <div>
              <ul class="uk-nav uk-dropdown-nav">
                {{ range .Params.coders }}
                <li>
                  <a href="https://github.com/{{ . }}" target="_blank" rel="noopener">
                    <img src="https://github.com/{{ . }}.png" alt="Smiley face" width="42" height="42"
                      style="border-radius: 50%"> {{ . }}
                  </a>
                </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
      {{ if isset .Params "site" }}
      {{ if ne .Params.site "" }}
      <div>
        <a class="uk-button uk-button-default" href="{{.Params.site}}" target="_blank" rel="noopener"><span
            uk-icon="icon: world"></span>
          Website</a>
      </div>
      {{ end }}
      {{ end }}
      <div>
        {{ if ( gt (len .Params.github ) 1) }}
        <div>
          <button class="uk-button uk-button-default" type="button"> <span uk-icon="icon: github"></span>
            GitHub</button>
          <div class="uk-width-auto" uk-dropdown="pos: bottom-center; delay-hide:400">
            <div class="uk-dropdown-grid uk-child-width-1-2" uk-grid>
              <div>
                <ul class="uk-nav uk-dropdown-nav">
                  {{ range .Params.github }}
                  <li><a style="color: #0366d6; font-weight: 600" href="{{.}}" target="_blank" rel="noopener"><span><img
                          loading="lazy"
                          src="https://res.cloudinary.com/samrobbins/image/upload/v1593092912/repo_ec3slk.svg"></span>
                      {{index (last 1 (split . "/")) 0}}</a></li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
        {{ else if ( gt (len .Params.github ) 0) }}
        <a class="uk-button uk-button-default" href="{{index (.Params.github) 0}}" target="_blank" rel="noopener"> <span
            uk-icon="icon: github"></span>
          Github</a>
        {{ end }}
      </div>
    </div>
    {{ end }}
    {{ if isset .Params "screenshots" }}
    <hr class="full-width">
    <div uk-slideshow="ratio: 7:3; autoplay: true; autoplay-interval: 6000"
      class="uk-margin-top uk-position-relative uk-visible-toggle" tabindex="-1">
      <ul class="uk-slideshow-items">
        {{ range .Params.screenshots }}
        <li>
          <img src="{{ . }}" alt="" class="uk-position-center" uk-img="target: !* -*, !* +*">
        </li>
        {{ end }}
      </ul>
      <a class="uk-position-center-left uk-position-small uk-hidden-hover slideButtons" href="#" uk-slidenav-previous
        uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover slideButtons" href="#" uk-slidenav-next
        uk-slideshow-item="next"></a>
      <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
    {{ end }}
    {{ if isset .Params "tech" }}
    {{ if (gt (len .Params.tech) 0) }}
    <h2>Tech Stack</h2>
    <div class="icon-wrapper">
      {{ range .Params.tech }}
      <div class="skills-icon">
        <img src="{{ .logo }}" alt="{{ .name }}" loading="lazy">
        <div class="skills-icon-name">{{ .name }}</div>
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ end }}
    <div class="uk-margin-top">
      {{ .Content }}
    </div>
  </div>
</article>
{{ end }}