{{- define "title" }}
{{- .Params.Title }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
<div class="page archive">
  {{- /* Title */ -}}
  <h2 class="single-title animated fadeInDown faster">
    {{- .Params.Title -}}
  </h2>
  <form class="uk-form-stacked" method="POST" netlify>
    <div class="uk-margin">
      <label class="uk-form-label" for="name">Name</label>
      <div class="uk-form-controls">
        <input class="uk-input" name="name" id="name" type="text" placeholder="John Doe" />
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="email">Email</label>
      <div class="uk-form-controls">
        <input class="uk-input" name="email" id="email" type="text" placeholder="email@example.com" />
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="message">Message</label>
      <div class="uk-form-controls">
        <textarea class="uk-textarea" name="message" id="message" rows="5" placeholder="Your message here"></textarea>
      </div>
    </div>
    <button class="uk-align-center uk-button uk-button-default">
      Submit
    </button>
  </form>
</div>
{{- end -}}