{{- define "title" }}{{ .Title }} . {{ .Site.Title }}{{ end -}}
<!-- Replace the about page in _deafult > single.html with the following -->
<article
  class="{{- if or (eq $about.enable false) (eq $profile.enable false) -}}page single special{{- else -}}page archive{{- end -}}">

  {{- /* Title */ -}}
  <h2 class="single-title animated fadeInDown faster" data-about="true">
    {{- .Title -}}
  </h2>

  {{- if and (eq $about.enable true) (eq $profile.enable true) -}}
  <div class="single-card" data-param="{{- if eq $about.param true -}}on{{- else -}}off{{- end -}}" data-about="true">
    {{- partial "about/profile.html" . -}}
    {{- if eq $about.param true -}}
    {{- partial "about/parameter.html" . -}}
    {{- end -}}
  </div>
  {{- end -}}

  <div class="single-card">
    {{- /* Content */ -}}
    <div class="content" id="content">
      {{- $content := .Content -}}
      {{- $content = dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" -}}
      {{- $content | replaceRE "<p><figure>" "<figure>" | replaceRE "(?s:</figure>\n?</p>)" "</figure>" | replaceRE "https://www.w3.org/" "http://www.w3.org/"| replaceRE "font-weight:550" "font-weight:500" | replaceRE "<section" "<div" | replaceRE "</section" "</div" | replaceRE `<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">` `<div class="video">` | replaceRE ` style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"` `` | replaceRE " webkitallowfullscreen mozallowfullscreen" "" | replaceRE "allowfullscreen" `allow="fullscreen"` | replaceRE `type="application/javascript"` `` | replaceRE `charset="utf-8"></script>` `></script>` | replaceRE `<div id="fb-root"></div>` `` | safeHTML -}}
    </div>
  </div>
  <div class="single-card">
    <div class="content" style="text-align: center;">
      <p><em>An overview of my programming journey:</em></p>
      <codersrank-skills-chart username="tenebrius1" tooltip labels legend branding="false">
      </codersrank-skills-chart>
    </div>
  </div>
  <div class="single-card">
    <div class="content">
      <codersrank-education username="tenebrius1" branding="false"></codersrank-education>
    </div>
  </div>
</article>
{{-end-}}