header {
  .header-title {
    margin-left: 1rem;
  }

  .menu-inner {
    margin-right: 1rem;
  }
}

.home[data-home=posts] .home-avatar img {
  width: 10rem;
}

footer {
  line-height: 1.75rem;
  height: unset;
}

[theme="dark"] #header-desktop .header-wrapper .menu .menu-item.delimiter {
  border-left-color: #a9a9b3;
}

#header-desktop .header-wrapper .menu a.active {
  font-weight: 700;
}

[theme="dark"] .content a {
  color: #55bde2;
}

[theme="dark"] .content a:hover {
  text-decoration: underline;
}

.content a {
  color: #1e87f0;
}

.content a:hover {
  text-decoration: underline;
}

.icon-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.skills-icon {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 50px;
	justify-content: center;
	margin-bottom: 1.5rem;
	margin-right: 1rem;
	position: relative;
	width: 50px;
	z-index: 0;
}

.skills-icon-name {
	bottom: -1.3rem;
	font-size: 12px;
	opacity: 0;
	position: absolute;
	transition: opacity .5s,color .5s;
	white-space: nowrap;
}

.skills-icon:hover .skills-icon-name {
	opacity: 1;
}